html, h1, h2, h3, h4, h5, h6, p, div, span, ul, ol, li, input, textarea,
blockquote, pre, section, a, code, time, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background 0.1s;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

p, ul {
    margin-bottom: 12px;
}

li {
    margin-left: 16px;
}

html {
    height: 100%;
}

body {
    margin: 0 auto;
    height: 100%;
    background: rgb(250, 250, 250);
}

#vertical-wrapper {
    background: white;
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-left: 2px solid rgb(220, 220, 220);
    border-right: 2px solid rgb(220, 220, 220);
}

#content-wrapper {
    flex: 1;
    width: 820px;
}

@media only screen and (max-width: 600px) {
    #content-wrapper {
        width: 100%;
    }
}

#footer {
    background: rgb(226, 226, 226);
    color: rgb(110, 110, 110);
    font-style: italic;
    padding: 8px;
    width: 100%;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h4 {
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(139, 139, 255);
}

input[type=text], textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    margin-bottom: 8px;
    resize: vertical;
}

/*
Message stuff
*/

#error-messages {
    color: rgb(71, 0, 0);
    background: rgb(255, 209, 209);
    padding: 12px
}

#good-messages {
    background: #d5ffd5;
    color: 214421;
    padding: 12px;
}

/*
Modal Stuff
*/

#modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal {
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 640px;
    background: white;
}

#post-edit-container {
    display: none;
}

/*
Login Stuff
*/

#latest-post-link {
    color: black;
}

#latest-post-link:hover {
    color: rgb(0, 38, 165);
}

#login-button {
    float: right;
    font-size: 0.9rem;
    background: rgb(98, 161, 255);
    color: white;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 16px;
}

#login-button:hover {
    background: rgb(136, 183, 255);
}

/*
Create Post Stuff
*/

#createpost-container {
    padding: 16px;
    border-bottom: 2px solid rgb(214, 214, 214);
}

#createpost-container:hover {
    background: rgb(240, 240, 240);
}

#createpost-button {
    border: none;
    background: rgb(98, 161, 255);
    color: white;
    padding: 16px 32px;
    font-weight: bold;
    font-size: 1.0em;
    border-radius: 16px;
    cursor: pointer;
}

#createpost-button:hover {
    background: rgb(136, 183, 255);
}

/*
Delete post Stuff
*/

#delete-post-container {
    padding: 32px;
}

#delete-post-button {
    border: none;
    background: rgb(255, 98, 98);
    color: white;
    padding: 16px 32px;
    font-weight: bold;
    font-size: 1.0em;
    border-radius: 16px;
    cursor: pointer;
}

#delete-post-button:hover {
    background: rgb(255, 136, 136);
}

#delete-post-toggle-button {
    cursor: pointer;
    color: rgb(99, 0, 0);
    font-size: 0.9em;
}

/*
Profile Stuff
*/

#bio-box {
    height: 140px;
}

#profile-bio {
    padding: 8px;
}

#profile-bio:hover {
    background: rgb(240, 240, 240);
}

#profile-view-username {
    color: gray;
    font-weight: normal;
}

#profile-button {
    float: right;
    font-size: 0.9rem;
    background: rgb(255, 156, 98);
    color: white;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 16px;
}

#profile-button:hover {
    background: rgb(255, 191, 154);
}

#update-profile-button {
    float: right;
    font-size: 0.9rem;
    background: rgb(255, 156, 98);
    color: white;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 16px;
    cursor: pointer;
    border: none;
}

#update-profile-button:hover {
    background: rgb(255, 191, 154);
}

/*
Posts Stuff
*/

.post-heading {
    color: inherit;
}

.post {
    background: white;
    padding: 8px 8px 8px 16px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.post .post-username {
    font-weight: normal;
    color: gray
}

.post .post-timestamp {
    color: gray;
    font-weight: normal;
}

.post:hover {
    background: rgb(240, 240, 240);
}

.post-permalink {
    opacity: 0;
    transition: opacity 0.1s;
}

.post:hover .post-permalink {
    opacity: 1;
}

.post-content {
    margin-bottom: 12px;
}

/*
Edit Post Stuff
*/

#edit-post-toggle-button {
    border: none;
    background: rgb(255, 98, 98);
    color: white;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 1.0em;
    border-radius: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}

#edit-post-container {
    display: none;
}

#edit-post-button {
    border: none;
    background: rgb(255, 98, 98);
    color: white;
    padding: 16px 32px;
    font-weight: bold;
    font-size: 1.0em;
    border-radius: 16px;
    cursor: pointer;
}

#edit-post-button:hover {
    background: rgb(255, 136, 136);
}

/*
Login Form Stuff
*/

#loginform input {
    width: 100%;
    padding: 8px;
    font-size: 1em;
    margin: 4px 0 6px 0;
}

#profile-edit-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#profile-edit-container div {
    flex: 50%;
    padding: 16px;
}

#profile-edit-container div:nth-child(odd) {
    text-align: right;
    color: gray;
}

#noposts {
    text-align: center;
    font-size: 1.5em;
    padding: 32px;
}

/*
View More Stuff
*/

.view-more {
    padding: 16px;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}

/*
Images Stuff
*/

.image-thumbnail {
    width: 120px;
}
