<!doctype html>

<html>
    <head>
        <title>Microbloggy Alpha</title>

        <link rel="stylesheet" href="/static/style.css">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="/static/favicon.svg">
    </head>

    <body>
        <div id="vertical-wrapper">
            <div id="content-wrapper">
                {% block content %}{% endblock %}
            </div>

            <footer id="footer">
                Microbloggy Alpha Version
            </footer>
        </div>
    </body>
</html>
