{% extends "base.html" %}

{% block content %}
<a href="/user/login">Log In</a>

<h2>Latests Posts</h2>

{% if logged_in %}
    <form action="/post/create" method="POST">
        <input type="hidden" name="csrf-token" value="12356">
        <textarea name="content" placeholder="What's happening?"></textarea>
        <input id="createpost" type="submit" value="Post">
    </form>
{% endif %}

{% for post in posts %}
    <div class="post">
        <h2>{{ post.user_id }}</h2>
        <div class="post-content">{{ post.content | markdown | safe }}</div>
    </div>
{% endfor %}

{% endblock %}
