{% extends "base.html" %}

{% block content %}

{% if logged_in %}
<h2>
    What's on your mind?
</h2>

<div id="createpost-container">
    <form action="/post/create" method="POST">
        <input type="hidden" name="csrf-token" value="{{ csrf_token }}">
        <textarea name="content" placeholder="What's happening?"></textarea>
        <input id="createpost-button" type="submit" value="Post">
    </form>

    {% if images %}
        <h4>Draft Image Uploads</h4>

        <div id="attached-image-container">
            {% for image in images %}
                <a href="/uploads/{{ image.full_path }}" target="_blank">
                    <img class="image-thumbnail" src="/uploads/{{ image.thumbnail_path }}">
                </a>
            {% endfor %}
        </div>
    {% endif %}

    <h4>Attach Images</h4>

    <form action="/post/image-upload" method="POST" enctype="multipart/form-data" id="image-upload-form">
        <input type="file" name="image" accept="image/*" id="image-upload-input">
        <input type="submit" value="Upload Image" id="image-upload-submit">
    </form>
</div>
{% endif %}

<h2 id="latest-post-heading">
    <a id="latest-post-link" href="/">Latest Posts</a>

    {% if not logged_in %}<a id="login-button" href="/user/login">Log In</a>{% endif %}
</h2>

<h4>
    <a id="view-profile-link" href="/user/profile">View User Profile</a>
</h4>

{% for post in posts %}
    <div class="post post-clickable">
        <h4>
            <span class="post-name">{{ post.name }}</span>
            <span class="post-username">@{{ post.username }}</span>

            <span>&#183;</span>

            <span class="post-timestamp">
                <time datetime="{{ post.posted_timestamp }}">{{ post.posted_timestamp }}</time>
            </span>

            <a href="/post/view/{{ post.post_id }}" class="post-permalink">Permalink</a>
        </h4>

        <div class="post-content">{{ post.content | markdown | safe }}</div>
    </div>

    {% if loop.last and view_more %}
        <div class="view-more">
            <a href="/?before_timestamp={{ post.posted_timestamp }}">View More Posts</a>
        </div>
    {% endif %}
{% else %}
    <div id="noposts">
        No posts yet, but stay tuned!
    </div>
{% endfor %}

<script src="/static/index.js"></script>

{% endblock %}
