{% extends "base.html" %}

{% block content %}
<h2>Post</h2>

<div>
    <a href="/">Back to Home</a>
</div>

<div class="post" id="post-static-container">
    <h4>
        <span class="post-name">{{ post.name }}</span>
        <span class="post-username">@{{ post.username }}</span>

        <span>&#183;</span>

        <span class="post-timestamp">
            <time datetime="{{ post.posted_timestamp }}">{{ post.posted_timestamp }}</time>
        </span>
    </h4>

    <div class="post-content">{{ post.content | markdown | safe }}</div>

    {% if post.images %}
        <div id="image-container">
            {% for image in post.images %}
                <a href="/uploads/{{ image.full_path }}" target="_blank">
                    <img class="image-thumbnail" src="/uploads/{{ image.thumbnail_path }}">
                </a>
            {% endfor %}
        </div>
    {% endif %}

    {% if logged_in %}
        <div id="edit-post-toggle-button">Edit Post</div>
        <div id="delete-post-toggle-button">
            <p>Delete Post</p>
        </div>
    {% endif %}
</div>

{% if logged_in %}
    <div id="post-edit-container">
        <form action="/post/edit/{{ post.post_id }}" method="POST">
            <input type="hidden" name="csrf-token" value="{{ csrf_token }}">

            <textarea name="content">{{ post.content }}</textarea>

            <label for="edit-post-short-url">
                Short URL for easy sharing:
            </label>

            <input type="text" name="short-url" id="edit-post-short-url" placeholder="Short URL" value="{{ post.short_url }}">

            <input type="submit" id="edit-post-button" value="Edit Post">
        </form>
    </div>

    <div id="modal-container">
        <div id="delete-post-container" class="modal">
            <form action="/post/delete/{{ post.post_id }}" method="POST">
                <div>
                    <p>Are you sure you want to permanently delete this post?</p>
                </div>

                <input type="hidden" name="csrf-token" value="{{ csrf_token }}">
                <input type="submit" id="delete-post-button" value="Confirm Deletion">
            </form>
        </div>
    </div>

    <script src="/static/post.js"></script>
{% endif %}

{% endblock %}
